/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
*.log
logs/combined.log
logs/error.log
.env